<div
  data-oke-media-grid
  data-oke-reviews-gap-size="0"
  data-oke-reviews-hide-arrow="true"
  data-oke-reviews-load-more-on-scroll="false"
  data-oke-reviews-grid-style="custom-dimensions: 8x2"
  data-oke-reviews-mobile-grid-style="alternate-mobile"
>
</div>
