.gwp-offer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  margin: 2rem 0;

  background-color: white;
  outline: 1px dashed rgba(var(--color-gold-dkr));
  animation: borderGlow 1s ease-in-out 5;
}

@keyframes borderGlow {
  0% {
    outline: 1px dashed rgba(var(--color-gold-dkr));
  }

  50% {
    outline: 1px dashed rgba(var(--color-gold-m));
  }

  100% {
    outline: 1px dashed rgba(var(--color-gold-dkr));
  }
}

.gwp-offer--in-cart {
  display: none;
}

.gwp-offer__info {
  order: 2;
  flex: 0 1 auto;
  padding: 1rem;
}

.gwp-offer__product {
  order: 1;
  flex: 0 1 25%;
}

@media screen and (min-width: 750px) {
  .gwp-offer__info {
    padding: 2rem;
  }

  .gwp-offer__product {
    max-width: 8rem;
  }
}

@media screen and (min-width: 1366px) {
  .gwp-offer__info {
    padding: 2rem;
  }

  .gwp-offer__product {
    max-width: 8rem;
  }
}

.gwp-offer__product-thumbnail {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.gwp-offer__heading {
  margin-top: 0;
  margin-bottom: 0.2rem;

  font-size: 1.6rem;
  text-align: center;
}

.gwp-offer__description {
  font-size: 80%;
  line-height: 1.4;
  text-align: center;
}

/* Cart */

.shopify-section[id$='__cart-items'] + .section--gwp,
.shopify-section[id$='__cart-items'] + .section--gwp .gwp-offer {
  margin-top: 0;
}
